.container-fluid img{
    height: 30px;
    width: 250px;
}
.green img{
    height: 100%;
    width: 100%;
}
header{
    background-color: rgb(248, 240, 228 .5);
  
}
.categories img{
    height: 100px;
    width: 100px;
}
.card1, .card-footer{
    border: 0;
    border-radius: 15px;
    background-color: white;
}
.btn{
    background-color: rgb(28, 4, 95);
    border: none; 
    border-radius: 7px;
    padding: 1em 1em;
    font-size: 16px; 
}
.title{
    color: rgb(70, 69, 69);
}
.price{
    color: yellowgreen;
    font-size: 2em;
}
.title, .price{
    font-weight: 700;
}
.card1 img{
    background-color: rgb(247, 245, 245);
    border-radius: 15px;
}
.intro img{
    height: 100%;
    width: 100%;
}
header{
    background-image: linear-gradient(to bottom, rgb(247, 243, 236), white);
}
span{
    color: rgb(100, 161, 7);
}
h1{
    font-weight: 700;
    font-size: 4em;

}